@import 'bourbon/bourbon';
@import 'variables';

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: local("Segoe UI Light"), local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 16px / 768px * 100vh;
    font-size-adjust: 100%;
    color: $font-color;
    background-color: $bg-color;
    overflow: hidden;
}

body * {
    @include user-select(none);
    cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: lighter;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

a,
a:visited,
a:link {
    text-decoration: none;
    color: inherit;
}

::selection {
    color: $font-color;
    background-color: inherit;
}

::-moz-selection {
    color: $font-color;
    background-color: inherit;
}

.boot-screen {
    position: absolute;
    display: block;
}

.logon-splash-screen,
.user-logon-screen,
.desktop,
.desktop-element,
.start-menu {
    position: absolute;
    overflow: hidden;
    display: none;
}

.ion-battery-full,
.ion-battery-half,
.ion-battery-low,
.ion-battery-empty,
.ion-battery-charging {
    @include transform(rotate(-90deg));
}

*[data-tooltip] {
    position: relative;
}

*[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    bottom: 100%;
    padding: 7px / 768px * 100vh 15px / 768px * 100vh;
    font-size: 12.5px / 768px * 100vh;
    font-weight: normal;
    white-space: nowrap;
    color: #222;
    background-color: #fff;
    border: solid 1px / 768px * 100vh #222;
    opacity: 0;
    @include transition(opacity 500ms);
}

*[data-tooltip]:hover:after {
    opacity: 1;
}

@import 'boot';
@import 'logon';
@import 'desktop';
@import 'start-menu';
@import 'apps';